/* Colors

Use these predefined colors to maintain consistency and professionalism throughout your portfolio:
--white : #fefefe;
--primary: #7562e0;
--dark-mode-S900: #1a1a29;
--dark-mode-S1000: #181824;
--dark-mode-S200: #31313f;
--gradient-1: linear-gradient(180deg, #6473ff 0%, #2134e1 99.99%, #152bf1 100%);
--gradient-2: linear-gradient(139deg, #f97878 9.79%, rgba(255, 176, 119, 0.81) 64.34%, rgba(255, 176, 119, 0.81) 90.36%);
--gradient-3: linear-gradient(140deg, #f97878 0%, #4052fb 73.99%, #0720ff 100%);
--gradient-4: linear-gradient(142deg, #26c8fc 6.46%, #57ecc8 58.9%, #49f5db 93.88%); */